body{
	background: #92d0ec;
	font-size: 150%;
	margin: 4%;
}
header, footer, h2{
	background: #2a148b;
	background: -moz-linear-gradient(top, #2a148b 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#2a148b 0%, #00b7ea 100%);
	background: -o-linear-gradient(#2a148b 0%, #00b7ea 100%);
	background: linear-gradient(#2a148b 0%, #00b7ea 100%); 

}
header {
	background-color: #888585;
	text-align: center;
	padding: 15px;
}
.half{
	width: 45%;
	display: inline;
	float:left;
	margin-right: 3%;
	margin-bottom: 50px;
	margin-top: 50px;
}
.whole{
	clear: both;
}
h1 {
	
	color: #FFFFFF; 
	text-align: center;
	font-family: Satisfy, cursive; 
	font-size: 200%;
}

h2 {
	color: #ffffff; 
	padding-left: 10px;
	font-family: Satisfy, cursive;
}

nav{
	font-variant:small-caps ;
	font-size: 150%;
	font-family: Georgia, Times, 'Times New Roman', serif;
}	

details{
	font-style: italic;
}
summary{
	font-style:normal ;
}
footer{
	clear: both;
	padding-bottom: 20px;
	align-content: center;
	
}
img{
	width: 120px;
	padding-top: 15px;
	margin-left: 80px;
	margin-right: 80px;
}
a{
	display: inline-block;
	font-weight: bold;
	background: paleturquoise;
	color: black;
	width: 200px;
	text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 110%;
	padding: 4px;
	text-decoration: black;
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 200px;
}
 a:hover{
	 background-color: rgb(140, 177, 245);
	 color: #0006cc;
 }
a:focus {
    background: #B3B3B3;
	color: #0006cc;
}
a:active{
	border: 3px	solid #000000
}
footer a{
	margin-left: 100px;
}